body {
    background-color: darkcyan;
}

.bir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.bir div a {
    text-decoration: none;
    color: white;
    border-left: 1px solid white;
    padding-left: 5px;
}

.bir div input {
    padding: 8px 15px
}

.bir div button {
    background-color: gray;
    color: white;
    padding: 7px 10px
}

#birisi {
    margin-top: 10px;
}

@media screen and (max-width: 414px) {
    .bir {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.iki {
    background-color: black;
    padding: 20px 20px;
    margin-top: 40px;
}

.iki a {
    text-decoration: none;
    color: white;
    padding: 0 25px;
}

@media screen and (max-width: 414px) {
    .ikisi {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.uc img {
    max-width: 100%;
}

.dort {
    display: flex;
    justify-content: space-around;
    color: saddlebrown;
    background-color: white;
    padding-top: 30px;
}

.dort h3 {
    text-align: center;
}

.dort div img {
    border: 1px solid gray;
    padding: 5px
}

@media screen and (max-width: 414px) {
    .dort {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
}

.bes {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    background-color: white
}

.bes-bir {
    flex: 25%;
    margin-left: 30px;
}

.bes-iki {
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.bes-uc {
    flex: 25%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
}

.besi {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.bes-bir img {
    border: 1px solid gray;
    padding: 5px;
}

.bes h3 {
    color: darkgray;
}

.bes h4 {
    color: sandybrown;
}

.bes-iki a {
    text-decoration: none;
    color: sandybrown;
    padding-left: 250px;
}

.bes-uc a {
    text-decoration: none;
    color: sandybrown;
}

.bes-iki img {
    border: 1px solid gray;
    padding: 5px;
    margin-right: 10px;
}
@media screen and (max-width: 414px) {
    .bes {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
}
@media screen and (max-width: 414px) {
    .bes-bir {
       margin-left: auto; margin-right: auto;
    }
}
.alti-icerik{display: flex;justify-content: space-around;}
.alti-icerik div a{display: block;text-decoration: none;color:sandybrown;}
.alti{background-color: bisque;padding: 20px 0;}
.alti h3{color: gray;}
@media screen and (max-width: 414px) {
    .alti-icerik {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
}
#cizgi{max-width: 100%;}
footer{background-color: black;display: flex;justify-content: space-between;}
footer span{color: gray;margin: 20px;}
@media screen and (max-width: 414px) {
   footer  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    } span{margin: 10px;}
}
